@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: #666;
  font-family: sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

header {
  background-color: silver;
  color: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

header h1 {
  margin: 0.25em;
  font-size: 4.5em;
  text-align: center;
}

main {
  position: relative;
  flex: 1;
  padding: 1.5em;
}

main:after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

main > article {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main > article > button {
  align-content: center;
  justify-content: center;
}

main > article > h2 {
  text-align: center;
  color: #777;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
}

footer {
  background-color: silver;
  border-top: 1px solid #666;
  /* margin-top: 20px; */
  padding: 30px;
  color: #fff;
  font-size: 1.25em;
  width: 100%;
  flex: none;
  text-align: center;
}

img {
  margin: 1em auto;
  display: block;
  width: 30%;
}

#startGameBtn {
  font-size: 3em;
}

#gameBoard {
  padding: 10px 0;
}

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  min-height: 90px;
  min-width: 170px;
  font-size: 2em;
  margin-bottom: 0.5em;
}

#letterBoxes li {
  display: inline-flex;
}

#letterBoxes input {
  border: 1px solid #666;
  color: #666;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 2em;
  margin: 1em 0.1em;
  padding: 20px 5px;
  text-align: center;
  width: 2em;
  z-index: 2; /* Make letters visible on win/lose */
}

#message {
  /* padding: 20px; */
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
}

#messageArticle {
  margin-top: 410px;
  width: max-content;
  height: max-content;
  z-index: 1;
  position: relative;
  background-color: rgba(245, 245, 245, 0.75);
  border: 4px outset lightgray;
  padding: 2em;
}

#messageArticle h2 {
  margin-bottom: 0.5em;
}

#messageArticle,
#messageArticle h2,
#messageArticle p,
.messageBtnDiv,
.restartBtn {
  z-index: 1;
  position: relative;
}

#message::after {
  content: "";
  position: absolute;
  background: rgba(155, 155, 155, 0.75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.messageBtnDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5em 0 0 0;
  position: relative;
}

.restartBtn + .restartBtn {
  margin-left: 1em;
  position: relative;
}

.btn {
  -moz-user-select: text;
  background-color: #fff;
  background: transparent;
  border-radius: 6px;
  border: 0;
  border: 2px solid #666;
  color: #666;
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 16px 36px 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn--stripe:disabled {
  background-color: #999;
  color: #fff;
  border-color: #666;
}

.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.btn--stripe:disabled:after,
.btn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
}

/* #### MEDIA RULES #### */

/* Laptop big */
@media screen and (min-width: 1279px) and (max-width: 1441px) {
  img {
    /* width: 30%; */
  }

  footer {
    font-size: 1.25em;
  }

  main article {
    font-size: 1em;
  }

  #startGameBtn {
    font-size: 1.75em;
  }

  #letterBoxes input {
    font-size: 1.75em;
  }

  #letterButtons button:not(last-child) {
    min-width: 120px;
    min-height: 80px;
    /* padding: 1em; */
    margin-bottom: 0.5em;
    font-size: 2em;
  }

  #message {
    font-size: 1.25em;
  }

  #messageArticle {
    margin-top: 350px;
  }

  .restartBtn {
    font-size: 1.25em;
  }
}

/* Laptop big */
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  footer {
    font-size: 1.25em;
  }

  main article {
    font-size: 1em;
  }

  #startGameBtn {
    font-size: 1.5em;
  }

  #letterBoxes input {
    font-size: 1.5em;
  }

  #letterButtons button:not(last-child) {
    min-width: 110px;
    min-height: initial;
    /* padding: 1em; */
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }

  #message {
    font-size: 1em;
  }

  #messageArticle {
    margin-top: 330px;
  }

  .restartBtn {
    font-size: 1.25em;
  }
}

/* Tablet */
@media screen and (min-width: 669px) and (max-width: 1025px) {
  img {
    width: 70%;
  }

  footer {
    font-size: 2em;
  }

  main article {
    font-size: 1em;
  }

  #startGameBtn {
    font-size: 2em;
  }

  #letterButtons button:not(last-child) {
    min-width: 140px;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  #letterBoxes input {
    font-size: 2em;
  }

  #message {
    font-size: 1.3em;
  }

  #messageArticle {
    margin-top: 500px;
  }

  .restartBtn {
    font-size: 2em;
  }
}

/* Phone */
@media screen and (min-width: 319px) and (max-width: 669px) {
  img {
    width: 100%;
  }

  footer {
    font-size: 4em;
  }

  main article {
    font-size: 1em;
  }

  #startGameBtn {
    font-size: 6em;
  }

  #letterButtons button:not(last-child) {
    min-width: 140px;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  #letterBoxes input {
    font-size: 2em;
  }

  #message {
    font-size: 1.3em;
  }

  #messageArticle {
    margin-top: 500px;
  }

  .restartBtn {
    font-size: 2em;
  }
}
